<!DOCTYPE html>
<html lang="en">
   <head>
      {% block head %}
      <script src="https://use.fontawesome.com/0346c32a6f.js"></script>
      <title>EVE Chem</title>
      <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src='static/js/lib/tether.min.js'></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {# <link rel="stylesheet" type="text/css" href="static/css/main.css"> #}
      {% endblock %}
   </head>
   
   <body>
      {% block content %}
      {% endblock %}
   </body>
</html>