{% extends "apppage.html.j2" %}
{% block head %}
  {{ super() }}
  {# <link rel="stylesheet" type="text/css" href="static/css/defaultpage.css"> #}
  <script type="text/javascript" src='static/js/script/fadeload.js'></script>
{% endblock %}


{% block pagecontent %}
  <div class='container bg-dark'>

  </div>
{% endblock %}
