{% extends "base.html.j2" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
{% endblock %}


{% block content %}
  <!-- <nav class="navbar fixed-top bg-inverse navbar-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">EVE Chem</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text">
      {{session['character']['CharacterName'] if 'character' in session else 'Not Logged In'}}
    </span>
    <ul class="navbar-nav mr-auto">
      {% if 'character' not in session %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="/logout">Log Out</a>
      </li>
      {%- endif %}

      
    </ul>
    
  </div>
  </nav> -->
  <div id='dashboard' class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3 col-md-2 bg-inverse sidebar'>
      <div class='nav nav-sidebar status'>
        {% if 'character' in session %}
          <div id='login-info'>
            <img class='char-portrait' src="https://imageserver.eveonline.com/Character/{{session['character']['CharacterID']}}_512.jpg">
            <div>
              <span id='status-name'>{{session['character']['CharacterName'] if 'character' in session else 'Not Logged In'}}</span><a id='status-logout' href="/logout">Log Out</a>
            </div>
          </div>
        {% else %}
        <a href="/login">
          <img class='login-eve' src="https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png?w=270&h=45">
        </a>
        {%- endif %} 
      </div>
      <ul class='nav sidebar-nav'>
        <li class='active'><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Operations</a></li>
        <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i> Towers</a></li>
        <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i> Inventory</a></li>
        <li><a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i> Statistics</a></li>
      </ul>
      <ul class='nav nav-sidebar'>
        <li><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Market</a></li>
      </ul>
      
    </div>
    <div class='dashboard-content'></div>
  </div>
</div>
{% endblock %}
